services:
  db:
    image: postgres:18
    restart: always
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: admin
      POSTGRES_USER: admin

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080

  dev:
    build:
      context: .
      dockerfile: Dockerfile.app.dev
    restart: always
    ports:
      - 3000:3000
    depends_on:
      - db
      - adminer
    environment:
      DATABASE_URL: postgres://admin:admin@db:5432/postgres
